<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
        Вычисление времени и расчет пути между двумя станциями метро
        </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script> <!-- Скрипт заполнения выпадающего меню -->
        $(function() {
        var availableTags = [
            'Автово',
            'Адмиралтейская',
            'Академическая',
            'Балтийская',
            'Бухарестская',
            'Василеостровская',
            'Владимирская',
            'Волковская',
            'Выборгская',
            'Горьковская',
            'Гостиный двор',
            'Гражданский проспект',
            'Девяткино',
            'Достоевская',
            'Елизаровская',
            'Звенигородская',
            'Звёздная',
            'Кировский завод',
            'Комендантский проспект',
            'Крестовский остров',
            'Купчино',
            'Ладожская',
            'Ленинский проспект',
            'Лесная',
            'Лиговский проспект',
            'Ломоносовская',
            'Маяковская',
            'Международная',
            'Московская',
            'Московские ворота',
            'Нарвская',
            'Невский проспект',
            'Новочеркасская',
            'Обводный канал',
            'Обухово',
            'Озерки',
            'Парк Победы',
            'Парнас',
            'Петроградская',
            'Пионерская',
            'Площадь Александра Невского - 1',
            'Площадь Александра Невского - 2',
            'Площадь Восстания',
            'Площадь Ленина',
            'Площадь Мужества',
            'Политехническая',
            'Приморская',
            'Пролетарская',
            'Проспект Большевиков',
            'Проспект Ветеранов',
            'Проспект Просвещения',
            'Пушкинская',
            'Рыбацкое',
            'Садовая',
            'Сенная площадь',
            'Спасская',
            'Спортивная',
            'Старая Деревня',
            'Технологический институт - 1',
            'Технологический институт - 2',
            'Удельная',
            'Улица Дыбенко',
            'Фрунзенская',
            'Чернышевская',
            'Чкаловская',
            'Чёрная речка',
            'Электросила'
        ];
        $( "#first" ).autocomplete({
            source: availableTags
        });
        $( "#second" ).autocomplete({
            source: availableTags
        });
    });
    </script>
    </head>
    <body>
        <div id="head">
            Расчет времени и пути в метро Санкт - Петербурга
        </div>
        <div id="layer1">
            <img src="http://i.imgur.com/BNuYpt3.png" width="100%" height="100%">
        </div>

        <div id="layer2">
            <form action = "/result" method = "post">
                <center>
                    <p><p>Введите название станции отправления</p>
                        <div class="ui-widget">
                        <input type = "text" name = "station1" id="first">
                        </div>
                        <br>
                        <br>
                        <p>Введите название станции назначения</p>
                        <div class="ui-widget">
                        <input type = "text" name = "station2" id="second">
                        </div>
                        <br>
                        <br>
                        <input type = "submit" value = "Рассчитать"; class="input-button">
                        <p>
                        {% if check %}
                            <font size = "6px"><p>Неверные входные данные!</p></font> <!--В случае, если такой станции не существует или получен иной непригодный символ -->
                        {% else %}
                        </p>
                    </p>
                </center>
                <p>
                    <center>
                    {% if is_closed(start, finish) %}
                        <font size = "5px"><p>Станция Выборгская закрыта до января 2016 года</p></font> <!-- В случае, если выбрана станция Выборгская -->
                    {% else %}
                        {% if start %}
                        <font size = "5px"><p>От станции {{is_capital_letter(start)}} до станции {{is_capital_letter(finish)}}</p>
                                           <p>ехать ≈ {{time}} {{ending(time)}}</p>
                        <p>
                                {% if flag %} <!-- Вывод количества пересадок -->
                                    {{count}} {{transition_ending(count)}}
                                {% else %}
                                    Без пересадок
                                {% endif %}
                        </p></font>
                        <font size = "3px"; font color = "Black">
                        <div class="spoil"> <!-- Спойлер для размещения маршрута под ним -->
                        <div class="smallfont"><input type="button" value="Раскрыть маршрут"; class="input-button" onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = 'Свернуть маршрут'; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = 'Раскрыть маршрут'; }"/>
                        </div><div class="alt2"><div style="display: none;margin-left: -7%;">
                            <ol> <!-- Вывод маршрута и пересадок на линию цвета N -->
                                {% for stop in route %}
                                    {% if stop in transition %}
                                    <b><em>
                                        {% if is_green(transition[stop]) %}
                                            <font color = "green">Переход на {{transition[stop]}} ветку</font>
                                    </em></b>
                                        {% elif is_red(transition[stop]) %}
                                            <font color = "red">Переход на {{transition[stop]}} ветку</font>
                                    </em></b>
                                        {% elif is_blue(transition[stop]) %}
                                            <font color = "DodgerBlue">Переход на {{transition[stop]}} ветку</font>
                                    </em></b>
                                        {% elif is_yellow(transition[stop]) %}
                                            <font color = "Goldenrod">Переход на {{transition[stop]}} ветку</font>
                                    </em></b>
                                        {% elif is_purple(transition[stop]) %}
                                            <font color = "purple">Переход на {{transition[stop]}} ветку</font>
                                    </em></b>
                                        {% endif %}
                                    {% endif %}
                                    <li> {{is_capital_letter(stop)}} </li>
                                {% endfor %}
                            </ol>
                            <br>
                            <br>
                        </div>
                        </div>
                        </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        </font>
                    {% endif %}
                    </center>
                </p>
            </form>
        </div>
        <div id="contacts">
            <a href="https://vk.com/id36026694">Артём Сахабутдинов</a>, НИУ ВШЭ
        </div>
    </body>
</html>