@charset "utf-8";

#layer1 {
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    right: -7.5%;
    bottom: 7%;
}

#layer2 {
    background-color: #e0ffff;
    position: absolute;
    z-index: 2;
    width: 39%;
    height: auto !important;
    min-height: 100%;
    left: 0%;
    top: 35%;
    margin-left: 0%;
    margin-top: -15%;
}

#head {
    background-color: #ffffbd;
    padding-top: 5px;
    text-align: center; 
    position: fixed;
    width: 100%;
    height: 25px;
    z-index: 3;
    left: 0%;
    top: 0%;
}

#contacts {
    position: fixed;
    background-color: #fff5c2;
    text-align: center; 
    width: 100%;
    height: 25px;
    z-index: 4;
    left: 0%;
    bottom: 0%;
}

.input-button {
    width: 30%; 
    text-align: center;
    background-color: #c2ffe0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border:1px solid #ccc;
    font-weight: bolder;
    color:black; 
    margin:0 auto;
    padding:5px;
}

.spoil {}

.smallfont {}

.alt2 {}